# ***UpdateIP.service***
[Unit]
Description=Revisa y actualiza la IP si este cambio cada 30segundos
Wants=network.target
After=multi-user.target

[Service]
Type=simple
ExecStart=/home/anibal/sites/projects/update-bitly/deamon
User=anibal
WorkingDirectory=/home/anibal/sites/projects/update-bitly
Restart=always
RestartSec=10
killMode=process
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
